- @title = 'Características do Bitmask'
- @nav_title = 'Características'

%h1#vpn Características da VPN

%p Com a VPN Bitmask, todo o seu tráfego é roteado de forma segura através do seu provedor antes que ele seja descriptografado para a Internet aberta.

%ul.fa-ul.spaced
  %li
    %i.fa-li.fa.fa-check-square
    <b>Evite a Vigilância da Rede</b><br>
    A VPN Bitmask é muito eficiente em evitar censura e vigilância da rede por parte de seu provedor de Internet ou do seu país.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Torne seu Endereço Anônimo</b><br>
    Seu endereço IP também será oculto, tornando sua localidade física segura contra websites maliciosos e escutas na rede.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Segurança Extra</b><br>
    Nós tomamos medidas de segurança extras para prevenir contra problems comuns em ataques contra VPNs pessoais, tais como "DNS e IPv6 leakage".

%h1#email Características do Email

%p O Email Criptografado Bitmask é fácil de usar e é retro-compatível com o protocolo OpenPGP para email seguro.

%ul.fa-ul.spaced
  %li
    %i.fa-li.fa.fa-check-square
    <b>Criptografia Completa Ponta-a-ponta</b><br>
    Sempre que possível, todas as mensagens são criptografas ponta-a-ponto no dispositivo cliente.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Armazenamento Seguro</b><br>
    Todo o email recebido é automaticamente criptografado de forma que somente você pode lê-lo (incluindo os data-dados).
  %li
    %i.fa-li.fa.fa-check-square
    <b>Gerenciamento de Chaves Automático</b><br>
    O usuário não precisa saber ou preocupar-se com a geração de chaves, busca de chaves ou a validação de chaves.


%h1 Características de Segurança

.row
  .col-sm-6
    %ul.fa-ul.spaced
      %li
        %i.fa-li.fa.fa-save
        <b>Armazenamento Criptografado no Cliente</b><br>
        Todo o armazenamento é criptografado, includindo backups locais e na nuvem. A criptografia sempre é [[feita no seu dispositivo => https://leap.se/en/soledad]] de forma que o provedor de serviços não pode ler seus dados armazenados.
      %li
        %i.fa-li.fa.fa-exchange
        <b>Sempre Disponível</b><br>
        Seus dados estarão sempre disponíveis, mesmo quando você está offline. Ele é [[sincronizado com os disposivos => https://leap.se/en/soledad]] de sua escolha, e armazenado um backup de forma segura na nuvem.
      %li
        %i.fa-li.fa.fa-exclamation-circle
        <b>Passwords, Aprimorado</b><br>
        Ainda que você tenha que especificar um nome de usuário e password para fazer o login, seu [[password nunca é comunicado com o provedor => https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol]].
  .col-sm-6
    %ul.fa-ul.spaced
      %li
        %i.fa-li.fa.fa-clock-o
        <b>Atualizado</b><br>
        A aplicação Bitmask é sempre mantida atualizada com os últimos patches de segurança.
      %li
        %i.fa-li.fa.fa-institution
        <b>Não Confie no Provedor</b><br>
        Quando você faz o download do Bitmask do site [[dl.bitmask.net => https://dl.bitmask.net]], seu provedor de serviços não poderá distribuir uma versão do cliente infectada com um backdoor.

%p Como todo o sistema de segurança, o Bitmask tem [[limitações conhecidas => https://leap.se/en/limitations]]. Para maiores detalhes técnicos, veja nossa [[documentação de design => https://leap.se/en/design]].
