- @title = 'Ajuda com Bitmask'
- @nav_title = 'Ajuda'
- @this.toc = false

%br

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-support
  .col-xs-11.text-left
    %h2 [[Suporte => help/support]]
    %p Obtenha suporte, crie um ticket de suporte, preencha um relatório de bugs, ou peça por novas características a serem implementadas.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-flag-checkered
  .col-xs-11.text-left
    %h2 [[Começando a usar => help/getting-started]]
    %p Rodando Bitmask pela primeira vez.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-shield
  .col-xs-11.text-left
    %h2 [[VPN => help/vpn]]
    %p Como proteger o seu tráfego de censura e vigilância com a VPN Bitmask.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-envelope
  .col-xs-11.text-left
    %h2 [[Email Criptografado => help/email]]
    %p Como facilmente enviar e receber mensagens de Email Criptografas Bitmask.
